@font-face {
  font-family: BNazanin;
  src: url(files/BNazanin.tff);
}

* {
  font-family: BNazanin;
}

:root {
  --color-pink: rgba(252, 105, 134, 1);
  --color-gold: #fbcc30;
  --color-blue: rgba(102, 127, 254, 1);
}

html {
  scroll-behavior: smooth;
}

.white-text {
  color: #fff !important;
}

body.dark-mode {
  background-color: #000 !important;
  color: white !important;
}

.nav-icon {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background-color: orange !important;
  color: white !important;
  border-radius: 50% !important;
  padding: 0.5rem !important;
  cursor: pointer;
}

.padding-holder {
  padding: 0.5rem !important;
}

.image-comment-container {
  position: relative;
  top: 0;
  left: 0;
}

.image-comment-container > img {
  position: relative;
  top: 0;
  left: 0;
}

.image-comment-container > span {
  position: absolute;
  bottom: 30px;
  left: -20px;
  padding: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  background-color: orange;
  transform: scale(0.8);
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.header-top-header {
  color: black;
  display: block;
}

.header-bottom-header {
  color: black;
  display: block;
}

.header-button {
  border-radius: 999em;
  background-color: orange;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.a-bit-larger {
  font-size: 1.25rem;
}

.center-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.navbar-brand-image {
  position: relative;
  vertical-align: middle;
  width: 100px;
  height: auto;
}

.adjust-padding {
  padding: 0.5rem !important;
}

.a-little-left-margin {
  margin-left: 0.25rem !important;
}

.full-width {
  width: 100% !important;
}

.my-card-body {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 2rem !important;
  padding-left: 1rem !important;
}

.important-badge {
  width: 20% !important;
  transform: rotate(90deg) !important;
}

.navbar-brand {
  height: 50px;
}

.hoverable-card {
  transition: all 0.2s !important;
  cursor: pointer !important;
}

.hoverable-card:hover {
  transform: scale(1.15);
}

.wave-shape {
  clip-path: path(
    "M-0.1,0.7l0,376.4c0,0,27.1-14.9,134.1,9.8c0,0,111.6,27,230.2,4.2c0,0,124.9-19.5,135.2-11.2l0.2-379.5"
  );
}

.bg-pink {
  background-color: var(--color-pink);
  color: white;
}

.bg-navy-blue {
  background-color: var(--color-blue);
  color: white;
}

.ul-bullets {
  border-radius: 50%;
  width: 20px;
  height: 0;
  padding-top: 2px;
  padding-bottom: 18px;
  text-align: center;
  background-color: var(--color-gold);
  color: white;
}

.bg-gold {
  background-color: var(--color-gold);
  color: white;
}

.border-gold {
  background-color: white;
  border: var(--color-gold) solid 3px;
  color: var(--color-gold);
}

.row:not(:last-child) {
  margin-bottom: 24px;
}

.on-hover-darker {
  color: rgb(131, 127, 127) !important;
  transition: all 0.2s !important;
}

.gallery-image {
  background-color: blanchedalmond;
  width: 100%;
  height: 300px;
  display: block;
}

.hoverable-pic {
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0 !important;
}

.clickable-pic {
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0 !important;
}

.inside-img {
    width: 100%;
    height: 300px;
    background-color: lightgray;
    padding: 12px !important;
}

.newsletter-input {
    background-color: rgb(217, 222, 244) !important;
    color: black !important;
    border: none !important;
    text-align: right;
}

.form-outline {
  margin-bottom: 12px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

.hoverable-pic .content {
  opacity: 0.6;
  bottom: -110%;
  color: #fff;
  height: 92%;
  left: 0%;
  text-align: center;
  position: absolute;
  transition: bottom 0.4s ease;
  width: 100%;
}

.clickable-pic .content {
  opacity: 0.6;
  bottom: -100%;
  color: #fff;
  height: 100%;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transition: bottom 0.4s ease;
  width: 300px;
}

.clickable-pic-hover .content {
  bottom: 0%;
}

.hoverable-pic:hover .content {
  bottom: 8%;
}

.on-hover-darker:hover {
  color: black !important;
}

.hover-text-content {
    background: black;
    margin: 12px !important;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.hover-text-content-no-margin {
  background: black;
  margin: 0px !important;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.hover-text-content-header {
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.hover-text-content-header, .hover-text-content-inner {
    font-family: Helvetica Neue, sans-serif;
}

.gallery {
  background-color: lightgray;
  padding: 24px;
}

.stack-image {
  position: relative;
  width: 250px;
  height: 250px;
}
.stack-image:hover {
  z-index: 1;
}

.stack-2-left {
  top: -200px;
  left: 50px;
}

.stack-2-right {
  top: -200px;
  right: 50px;
}

.submit-newsletter-button {
  width: 50%;
  margin-top: 0.5rem;
  background-color: orange;
  color: black;
}

.size-flex {
  flex-direction: column !important;
}

.newsletter-flex {
  flex-direction: column !important;
}

.gallery-small {
  margin-bottom: 3rem;
  display: block;
}

.gallery-big {
  display: none;
}

@media (min-width: 600px) {
  .gallery-small {
    display: none;
  }
  
  .gallery-big {
    display: block;
  }

  .size-flex {
    flex-direction: row !important;
  }

  .newsletter-flex {
    flex-direction: row-reverse !important;
  }

  .form-outline {
    margin-bottom: 0px !important;
  }

  .submit-newsletter-button {
    width: 100%;
    margin-top: 0;
  }
}
