@font-face {
    font-family: BNazanin;
    src: url(files/BNazanin.tff);
}

* {
    font-family: BNazanin;
}

:root {
    --color-pink: rgba(252,105,134,1);
    --color-gold: #FBCC30;
    --color-blue: rgba(102,127,254,1);
}

.white-text {
    color: #fff !important;
}


.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.header-top-header {
    color: black;
    display: block;
}

.header-bottom-header {
    color: black;
    display: block;
}

.header-button {
    border-radius: 999em;
    background-color: orange;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.a-bit-larger {
    font-size: 1.25rem;
}

.center-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.navbar-brand-image {
    position: relative;
    vertical-align: middle;
    width: 100px;
    height: auto
}

.adjust-padding {
    padding: 0.5rem !important;
}

.a-little-left-margin {
    margin-left: 0.25rem !important;
}

.full-width {
    width: 100% !important;
}

.important-badge {
    width: 20% !important;
    transform: rotate(90deg) !important;
}

.navbar-brand {
    height: 50px;
}

.hoverable-card {
    transition: all 0.2s !important;
    cursor: pointer !important;
}

.hoverable-card:hover {
    transform: scale(1.15);
}

.wave-shape {
    clip-path: path(
        "M-0.1,0.7l0,376.4c0,0,27.1-14.9,134.1,9.8c0,0,111.6,27,230.2,4.2c0,0,124.9-19.5,135.2-11.2l0.2-379.5"
    );
}

.bg-pink {
    background-color: var(--color-pink);
    color: white;
}

.bg-navy-blue {
    background-color: var(--color-blue);
    color: white;
}

.ul-bullets {
    border-radius: 50%;
    width: 20px;
    height: 0;
    padding-top: 2px;
    padding-bottom: 18px;
    text-align: center;
    background-color: var(--color-gold);
    color: white;
}

.bg-gold {
    background-color: var(--color-gold);
    color: white;
}

.border-gold {
    background-color: white;
    border: var(--color-gold) solid 3px;
    color: var(--color-gold);
}

.row:not(:last-child) {
    margin-bottom: 24px;
}

.gallery {
    background-color: beige;
    padding: 24px;
}